<html>
<body>
    <div class="PrimeiroCV">
    <section class="TituloLeo">
    <h1>Curriculo Leo</h1>
</section>
<button class="botaoCL">Acessar Currículo</button>
</div>
<div class="SegundoCV">
    <section class="TituloPietra">
    <h1>Curriculo Pietra</h1>
</section>
<button class="botaoCP">Acessar Currículo</button>
</div>
<div class="TerceiroCV">
    <section class="TituloVitor">
    <h1>Curriculo Vitor</h1>
</section>
<button class="botaoCV">Acessar Currículo</button>
</div>
</body>
</html>